@media only screen and (min-width:576px) and (max-width:767px){ 

    .slider-container{
        height: 48vh;
        .image-slider-responsive{
            background-size: cover;
        }
    }
 
}

@media only screen and (min-width:768px) and (max-width:1080px){ 
    .slider-container{
        height: 45vh !important;
        .image-slider-responsive{
            object-fit: contain !important;
        }
    }
}

@media only screen and (max-width:575px){ 

    .slider-container{
        height: 25vh !important;
        .image-slider-responsive{
            background-size: cover;
        }
    }
 
}

@media only screen and (min-width:1081px){ 

    .slider-container{
        height: 75vh !important;
        .image-slider-responsive{
            background-size: cover;
        }
    }
 
}